fastapi==0.111.0
uvicorn==0.23.2
motor==3.3.1
pydantic==2.7.4
python-dotenv==1.0.0
requests==2.32.3
aiohttp==3.9.5
websockets==15.0.1
colorama==0.4.6
beautifulsoup4==4.12.2
mcp
pymongo==4.15.3
cryptography==39.0.1
asyncpg==0.30.0
google-generativeai==0.7.2
